body {
  background: #020631;
  font-family: "Oswald", sans-serif;
  font-size: 22px;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
}

.card {
  width: 70%;
}

.task-input {
  width: 45%;
  height: 45px;
}

.button {
  display: flex;
  padding-top: 15px;
}

.btn {
  width: 200px;
  height: 70px;
  border: 2px solid black;
}
